<launch>
	<arg name = "port"/>
	<node name ="imu_driver" pkg ="imu_driver" type ="driver.py" args="$(arg port)" output="screen"></node>
	<node name ="euler_quaternion_converter" pkg ="imu_driver" type ="convert_to_quaternions.py" output="screen"></node>
	<!--	<param name = "port_number" value="$(arg port)"/> -->
</launch>
